[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
#bind-address = 127.0.0.1

#
old_passwords=1

## bi-gram full text search ##
ft_min_word_len=1
## for export csv ##
secure_file_priv=""

#
open_files_limit = 2560

#
default-storage-engine=InnoDB

#
character-set-server=utf8

## repl ##
server-id=1031
##relay_log = mysql-relay-bin
##replicate-do-db="mobilesns_production"
#log-bin=mysql-bin
#expire_logs_days=14
#binlog_checksum=none
#log_bin_use_v1_row_events=1
#binlog_row_image=FULL
#binlog_rows_query_log_events=OFF
#gtid_mode=OFF

## log ##
general_log
log-error = error.log
slow_query_log = 1
slow_query_log_file = slow-queries.log
long_query_time = 3

log-bin=mysql-bin
expire_logs_days=14
binlog_checksum=none
log_bin_use_v1_row_events=1
binlog_row_image=FULL
binlog_rows_query_log_events=OFF
gtid_mode=OFF

## mem(global) ##
key_buffer              = 16M
max_allowed_packet      = 64M
thread_stack            = 512K
thread_cache_size       = 8
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 2G
innodb_log_buffer_size = 8M

## storage ##
#innodb_data_file_path = ibdata1:10M:autoextend
innodb_data_file_path=ibdata1:1G
innodb_file_per_table

innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90

innodb_lock_wait_timeout = 120
innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1

## mem(thread) ##
sort_buffer_size = 4M
join_buffer_size = 256K
read_buffer_size = 4M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 4M

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set = utf8

[client]
default-character-set=utf8

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
default-character-set=utf8

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
general_log
#=/var/log/mysql_query.log
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
log=/var/log/mysql_query.log
log_slow_queries
long_query_time = 2

# [ndbd]
# # If you are running a MySQL Cluster storage daemon (ndbd) on this machine,
# # adjust its connection to the management daemon here.
# # Note: ndbd init script requires this to include nodeid!
# connect-string="nodeid=2;host=localhost:1186"
# 
# [ndb_mgm]
# # connection string for MySQL Cluster management tool
# connect-string="host=localhost:1186"

